{% block content %} 
	<div class="hero">
    <div class="row">
      <div class="large12">
        <nav>
          <h1>webcredible</h1>
        </nav>
        <h2>Labs</h2>
        <h3>Let’s design a better world, together</h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large12">
      <p class="intro">The Labs is the space &amp; time for Webcredible to work on innovative ideas outside regular client work</p>
    </div>
  </div>
  <br><br><br>
  <div class="row">
    <h3>So what are we exactly doing, and why?</h3>
  </div>

  <div class="row">
    <div class="large5 small4 col">
      <p>Launch 1-2 projects before the end of August 2015.</p>
      <p>A project can be a proof of concept, a minisite that tracks a piece of information in a beautiful way, a whitepaper published in a major managinze, a service that can be sold for a profit, whatever you like.</p>
    </div>
    <div class="large1 small4 col">&nbsp;</div>
    <div class="large6 small4 col">
    <ul class="list">
      <li>An opportunity to learn new skills &amp; techniques</li>
      <li>Gain empathy on how our clients work</li>
      <li>Add exciting work to our personal &amp; company portfolios</li>
    </ul>
    </div>
  </div>

  <br><br>


  <div class="module2">
    <div class="row">
      <h3>What about an example?</h3>
    </div>
    <div class="row">
      <div class="large5 small4 col">
        <img src="assets/img/ipad_elections.png" alt="ipad elections">
      </div>
      <div class="large1 small4 col">&nbsp;</div>
      <div class="large6 small4 col">
        <h4>Elections are coming.</h4>
        <p>Soon we'll be bombarded with tons of information about what the different parties are doing. But, how can we differenciate the signal from the noise?</p>
        <p>A potential <em>Labs</em> project could involve some clever way to extract langauge patterns from the different leaders. Or visualise where the tweets about the elections are coming from. Or...</p>
      </div>
    </div>
  </div>

<br clear="both">

<div class="row">
  <h3>How are we going to select the ideas?</h3>
</div>

<div class="row steps">
  <div class="large4 small4 col">
    <p>1 <strong>Generate many ideas</strong>. <br>Post ideas in the kitchen whiteboard, anything that you consider interesting. Remeber, just because you posted something doesn't mean you're responsible for developing it! Others may kidnap and expand your idea.</p>
    
    <p>Deadline: X January 2015</p>
  </div>
  <div class="large4 small4 col">
    <p>2 <strong>Present ideas to the panel</strong>.<br>Think about it as an elevator pitch. 1-2 minutes each idea, to explain why is good, how is going to make Webcredible famous, and the design/build feasability.</p>
    <p>We want you to you follow a similar apporach to the <a href="http://www.businessmodelgeneration.com/canvas/bmc">business model canvas</a>. For more info check [insert URL to the ppt].</p>
    <p>When: <em>to be announced</em></p>
  </div>
  <div class="large4 small4 col">
    <p>3 <strong>Pitch to the Dragon's Den</strong>. <br>The selected ideas will have 5 man-days to get ready, and then 20 minutes to pitch to Trenton, Pete, Gemma and Nirish.</p>
    <p>Sell it! Tell them who's going to work on it, the plan, the milestones. How are you going to promote it. Your partners <em>(if you have any)</em>, risks, etc.</p>
    <p>When: <em>to be announced</em></p>
  </div>
</div>


<div class="row">
  <h3>And then, how do we develop it?</h3>
  <p>We're planning at least 30 man-days to create and launch that idea. How you spend that time is up to you (remember, you're presenting a plan to the panel!). On top of that, you can use the Marketing team to promote it. If you need expernal resources, just pitch for it. </p>
  <p>And remember, <strong>the mentors are here to help you make this a reality.</strong></p>
</div>



<div class="module1">
  <div class="row">
    <h3>Questions? Ask the mentors</h3>
  </div>
  <div class="row">
    <div class="large6 small4 col mentors">
      <img src="{{ "bax.png" | asset_url }}">
      <h4>Alex Baxevanis</h4>
      <p>Years of UX experience, iOS development, 3D printing and other cool shit. Bax is your go to person to create an app or connect with the physical world.</p>
    </div>
    <div class="large6 small4 col mentors">
      <img src="{{ "lillo.png" | asset_url }}">
      <h4>Alex Lillo</h4>
      <p>Years of UX, front-end and project management experience can help you achieve your <em>Labs</em> dreams.</p>
    </div>
  </div>
</div>

  <footer>
    <div class="row">
      <div class="large12 columns">
        <p>This is a footer. And it simply rocks.</p>
      </div>
    </div>
    
  </footer>


{% endblock %}