{% block content %} 
	<div class="hero">
    <div class="row">
      <div class="large12 columns">
        <nav>
          <h1>webcredible</h1>
        </nav>
        <h2>Labs</h2>
        <p class="intro">Choose your tool and start creating something webcredible.</p>
      </div>
    </div>
  </div>

<div class="module2">
  <div class="row">
  <p>1-2 projects to launch in the current financial year (14/15)</p>
    <ul>
      <li>An opportunity to learn new skills &amp; techniques</li>
      <li>Gain empathy on how our clients work</li>
      <li>Add exciting work to our personal &amp; company portfolios</li>
    </ul>
  </div>
</div>

  <footer>
    <div class="row">
      <div class="large12 columns">
        <p>This is a footer</p>
      </div>
    </div>
    
  </footer>


{% endblock %}