// typography

$font-stack: PT sans, helvetica, arial, sans-serif;

// colour

$primary-color: #222;
$secondary-color: #333;
$accent-color: #344556;


// layout

$large-column-number: 12;
$small-column-number: 4;
$gutter: 10px;
$max-width: 900px;