
/*grid setup*/

.container {
    max-width: $max-width;
    margin: 0 auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  padding-right: 10px;
}

.col:last-of-type {
  padding-right: 0;
}

.right {
  display: inline;
  float:right;
  padding-right: 0;
}

.gutter {
  padding: 10px;
}

.gutter > [class*='col']:last-of-type {
  padding-right: 10px;
}

.filler {
  padding: 10px;
}

// generates X number of LARGE classes for the grid //
@for $i from 1 through $large-column-number {
  .large#{$i} { width: 100% / $large-column-number * $i; }
}

#a {
  height:96px;
  background-color: #1C6C8C;
}

#b {
  height:408px;
  background-color: #A0D9C9;
}

#c {
  height:204px;
  background-color: #A69286;
}

#d {
  height:204px;
  background-color: #37A6A6;
}

#e {
  height:204px;
  background-color: #2A828C;
}

#f {
  height:500px;
  background-color: #2F3740;
}

#g {
  height:200px;
  background-color: #155959;
}

p {
  margin-bottom: 1em;
}


// MEDIA QUERIES

/*800px and below*/

@media (max-width:800px) {


// generates X number of SMALL classes for the grid //
@for $i from 1 through $small-column-number {
  .small#{$i} { width: 100% / $small-column-number * $i; }
}


}

/*480px and below*/

@media (max-width:480px) {

.col {
  padding-right: 0;
}

// generates X number of SMALL classes, each one with 100% width //
@for $i from 1 through $small-column-number {
  .small#{$i} { width: 100% }
}


}

