@import 'config';
@import 'reset';
@import 'guide';
@import 'grid';


html {
  font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: $font-stack;
    color: $primary-color;
}

a {
  color: $accent-color;
}

a:hover {
  color: #666;
}

img {
  width: 100%;
}

/* grid elements  */
.row {
	margin: 0 auto;
	max-width: $max-width;
}

.hero {
	background-image: url("../img/background.jpg"); 
	height: 700px;
	h1 {
		background: url("../img/webcredible_white.png") 0 0 no-repeat;
		background-size: 103px 15px;
		text-indent: -100em;
		width: 103px;
		height: 15px;
	}
}

.module2 {
	background: url('../img/shape1.svg') 0 0 no-repeat; 
	background-size: 100% 300px;
	padding: 6em 0 0;
	margin: 2em;
	height: 300px

}


footer {
	height: 300px;
	background-color: #ccc;
}
